<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- NuGet.org package source -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <!-- Local package source; update relative path as needed -->
    <add key="local" value="../s/Tests" />
  </packageSources>
</configuration>
