<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- Azure Artifacts feed for your internal packages -->
    <add key="AzureArtifacts" value="https://pkgs.dev.azure.com/logicappsiactesting/logicappsiactest/_packaging/AutomatedTesting/nuget/v3/index.json" />
    <!-- Public NuGet feed for all other packages -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>
